body {
    margin: 0;
    overflow: hidden; /* 스크롤바가 생기지 않도록 합니다 */
    background-color: #0B0A13; /* 우리가 정했던 짙은 남보라색 배경 */
}

canvas {
    display: block;
}

#maskCanvas {
    display: none !important;
    visibility: hidden !important;
    position: absolute !important;
    left: -9999px !important;
    top: -9999px !important;
}
